* {
	outline: none;
	border: none;
	box-shadow: none;
}

#window {
	background-color: rgba(--wofi-rgb-color0, 0.8);
	border-radius: 6px;
}

#input {
	padding: 8px 6px;
	margin: 16px;
	padding-left: 14px;
	color: #fff;
	border-radius: 6px;
}

#input image {
	margin-right: 12px;
}

#inner-box {
	margin: 4px;
	padding: 8px;
	padding-top: 0px;
	color: --wofi-color7;
}

#outer-box {
	border-radius: 6px;
}

#scroll {
	margin-top: 4px;
	border-radius: 6px;
	margin-bottom: 4px;
}

#entry {
	margin: 4px;
	padding: 8px;
	outline: none;
	border-radius: 6px;
}

#entry image {
	margin-left: 4px;
}

#entry:selected, #entry:selected list, #input {
	background: linear-gradient(145deg, --wofi-color3 30%, --wofi-color4 100%);
}

#entry:selected {
	font-weight: bold;
}

#entry:selected list {
	font-weight: normal;
	margin-top: 6px;
	/* expanader probably has an odd width */
	margin-left: 5px;
}

#text {
	margin-left: 8px;
}
