@import "/home/celestial/.cache/wal/colors-waybar.css";

* {
	font-size: 14px;
}

window#waybar {
	background: transparent;
}

.modules-left, .modules-right, .modules-center {
	margin: 8px;
	margin-bottom: 0;
}

.modules-left {
	padding: 8px;
}

.modules-right {
	padding: 8px 16px;
}

.modules-right .module {
  margin: 0px 2px;
}

.modules-left *, .modules-right * {
	color: #ffffff;
}

.modules-left, .modules-right {
	background: linear-gradient(145deg, @color3 30%, @color4 100%);
	border-radius: 6px;
}

#custom-wlogout {
	margin: 0 8px;
}

#mpris {
	background: alpha(@background, 0.6);
	color: @cursor;
	border: 1px solid @color1;
	border-radius: 6px;
	padding: 8px 16px;
}

#pulseaudio.muted {
	color: @color15;
}

#workspaces .special {
	margin-left: 4px;
}

#workspaces .active {
	font-weight: bold;
	background: alpha(@color7, 0.25);
}
#workspaces .active:hover {
	background: alpha(@color7, 0.25);
}

#workspaces button {
	border: none;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
}

#submap {
	margin-right: 4px;
}

tooltip {
	background: @background;
	border: 1px solid @color2;
	border-radius: 6px;
}

tooltip * {
	color: @cursor;
}
