/**
* @name Rose Pine (modified)
* @author CelestialCrafter/blueb/Papa Quill
* @authorId 767450906164985877
* @version 3.0.9
* @description All natural pine, faux fur and a bit of soho vibes for the classy minimalist.
* @source https://github.com/CelestialCrafter/dotfiles
* @updateUrl https://github.com/Celestialcrafter/dotfiles/blob/discord/discord.theme.css
*/

:root {
    --Chat-Font-Used: 'azuki_font', monospace ;
    --Chat-Font-Size: 14px;

    --font-primary: var(--Chat-Font-Used);
    --font-display: var(--Chat-Font-Used);
    --font-code: var(--Chat-Font-Used);

    --background-tertiary: var(--background-secondary) !important;
    --background-secondary-alt: var(--background-secondary) !important;
    --mention-foreground: var(--text-normal) !important;
}

.theme-light, .theme-dark {
    --background-primary: #faf4ed;
    --background-secondary: #fffaf3;
    --background-secondary-alt: var(--background-secondary);
    --channeltextarea-background: var(--background-primary);
    --background-tertiary: var(--background-secondary);
    --background-accent: #d7827e;
    --text-normal: #575279;
    --text-spotify: #575279;
    --text-muted: #6e6a86;
    --text-link: #286983;
    --background-floating: var(--background-secondary);
    --header-primary: #575279;
    --header-secondary: #575279;
    --header-spotify: #56949f;
    --interactive-normal: #575279;
    --interactive-hover: #6e6a86;
    --interactive-active: #575279;
    --bg-overlay-selected: #f2e9de;
    --autocomplete-bg: var(--background-secondary);
}

.body-2wLx-E,
.headerTop-3GPUSF,
.bodyInnerWrapper-2bQs1k,
.footer-3naVBw,
.panels-3wFtMD {
    background-color: var(--background-tertiary) !important;
}

.peopleColumn-1wMU14,
.panels-j1Uci_,
.peopleColumn-29fq28,
.peopleList-2VBrVI,
.content-2hZxGK,
.header-1zd7se,
.root-g14mjS .small-23Atuv .fullscreenOnMobile-ixj0e3 {
    background-color: var(--background-secondary) !important;
}

.textArea-12jD-V,
.lookBlank-3eh9lL,
.threadSidebar-1o3BTy,
.scrollableContainer-2NUZem,
.perksModalContentWrapper-3RHugb,
.theme-dark .footer-31IekZ,
.theme-light .footer-31IekZ {
    background-color: var(--background-tertiary) !important;
}

.numberBadge-2s8kKX,
.base-PmTxvP,
.baseShapeRound-1Mm1YW,
.bar-30k2ka,
.unreadMentionsBar-1Bu1dC,
.mention-1f5kbO,
.active-1SSsBb,
.disableButton-220a9y {
    background-color: var(--ping) !important;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: var(--ping) !important;
}

.header-3OsQeK,
.container-ZMc96U {
    box-shadow: none !important;
    border: none !important;
}

.content-1gYQeQ,
.layout-1qmrhw,
.inputDefault-3FGxgL,
.input-2g-os5,
.input-2z42oC,
.role-2TIOKu,
.searchBar-jGtisZ {
    border-radius: 6px !important;
}

.layout-1qmrhw:hover,
.content-1gYQeQ:hover {
    background-color: var(--background-modifier-selected) !important;
}
