@import "/home/celestial/.cache/wal/colors-waybar.css";

* {
	font-size: 14px;
	color: @color7;
}

window#waybar {
	background: transparent;
}
	
.modules-left, #mpris, .modules-right {
	margin: 9px;
	margin-bottom: 0;
}

.module {
	border-radius: 24px;
	padding: 8px;
	background: linear-gradient(145deg, @color3 30%, @color4 100%);
}

#custom-wlogout {
	background: @color2;
}

#mpris, #submap, #custom-wlogout, .modules-right .module {
	padding: 8px 18px;
}

#mpris {
	background: alpha(@background, 0.6);
	color: @cursor;
	border: 1px solid @color1;
}


#workspaces .active {
	font-weight: bold;
	color: #ffffff;
	background: alpha(@color7, 0.25);
}

#workspaces button:hover {
	background: alpha(@color7, 0.25);
}

#workspaces button {
	border: none;
	margin: 0 1px;
	border-radius: 24px;
}

#pulseaudio.muted {
	color: @color15;
}

button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
}

#submap {
	margin-right: 4px;
}

tooltip {
	background: @background;
	border: 1px solid @color2;
	border-radius: 6px;
}

tooltip * {
	color: @cursor;
}
