/**
 * @name pywal
 * @author CelestialCrafter
 * @version 1.0.0
 * @description pywal
 * @source https://github.com/CelestialCrafter/dotfiles
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');

:root {{
	--update-notice-1: none;

	/* primary.* */
	--primary-600: {background};
	--primary-630: {background};
	
	/* *.color2 */
	--scrollbar-auto-thumb: {color2};
	--scrollbar-thin-thumb: {color2};

	/* *.color3 */
	--red-400: {color3};

	/* *.color4 */
	--yellow-300: {color4};

	--status-danger: {color4};
	--button-outline-danger-border: {color4};
	--button-outline-danger-text: {color4};
	--button-danger-background: {color4};

	/* *.color5 */
	--green-360: {color5};

	--header-primary: {color5};
	--brand-experiment: {color5};
	--brand-experiment-360: {color5};
	--brand-experiment-500: {color5};
	--profile-gradient-button-color: {color5};
	
	/* *.color7 */
	--channels-default: {color7};
	--channel-icon: {color7};
	--text-normal: {color7};
	--interactive-active: {color6};

	--gradient-primary: {color3.rgb};
	--gradient-secondary: {color4.rgb};
}}

.theme-dark {{
	--background-accent: {color2};
	--background-tertiary: rgba({background.rgb}, 0.45);
}}

#popout_22681 {{
	background-color: {background};
}}

/* status indicators */
rect[fill="#f23f43"] {{
	/* dnd */
	fill: {color1} !important;
}}

rect[fill="#f0b232"] {{
	/* idle */
	fill: {color4} !important;
}}

rect[fill="#23a55a"] {{
	/* online */
	fill: {color6} !important;
}}

rect[fill="#80848e"] {{
	/* offline */
	fill: {color8} !important;
}}
