/**
 * @name pywal
 * @author CelestialCrafter
 * @version 1.0.0
 * @description pywal
 * @source https://github.com/CelestialCrafter/dotfiles
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css')

:root {{
    /* *.background */
    --background-primary: {background};
    --background-secondary: {background};
    --background-tertiary: {background};

    --background-primary-alt: {background};
    --background-secondary-alt: {background};
    --background-tertiary-alt: {background};

    --channeltextarea-background: {background};

    --profile-gradient-primary-color: {background};
    --profile-gradient-secondary-color: {background};
    --profile-body-background-color: {background};

    --__header-bar-background: {background} !important;

    --scrollbar-auto-track: {background};
    --scrollbar-thin-track: {background};

    /* primary.* */
    --primary-630: {background};
    
    /* *.color2 */
    --scrollbar-auto-thumb: {color2};
    --scrollbar-thin-thumb: {color2};

    /* *.color3 */
    --red-400: {color3};

    /* *.color4 */
    --status-danger: {color4};
    --button-outline-danger-border: {color4};
    --button-outline-danger-text: {color4};
    --button-danger-background: {color4};

    --yellow-300: {color4};

    /* *.color5 */
    --header-primary: {color5};
    --brand-experiment: {color5};
    --brand-experiment-360: {color5};
    --brand-experiment-500: {color5};
    --profile-gradient-button-color: {color5};

    --green-360: {color5};

    /* *.color6 */
    --channels-default: {color6};
    --channel-icon: {color6};

    /* *.color7 */
    --text-normal: {color7};
    --interactive-active: {color7};
}}

/* status indicators */
rect[fill="#f23f43"] {{
    fill: {color1} !important;
}}

rect[fill="#f0b232"] {{
    fill: {color4} !important;
}}

rect[fill="#23a55a"] {{
    fill: {color5} !important;
}}