.theme-dark {{
	--background-primary: {color0};
	--background-primary-alt: {color3};
	--background-accent: {color1};
	--background-secondary: {color0};
	--background-secondary-alt: {color3};
	--text-accent: {color2};
	--text-accent-hover: {color1};
	--background-modifier-border: {color3};
	--text-highlight-bg: {color3};
	--text-selection: {color3};
	--red: {color7};
	--green: {color6}
	--blue: {color3};
	--purple: {color4};
	--aqua: {color3};
	--yellow: {color2};
	--orange: {color1};
}}