#window {
	background-color: --wofi-color0;
	border-radius: 15px;
}

#input {
	padding: 8px;
	margin: 12px;
	padding-left: 20px;
	border: 1px solid --wofi-color0;
	color: --wofi-color0;
	background: linear-gradient(45deg, --wofi-color0 30%, --wofi-color0 100%);
  outline: none;
	border-radius: 15px;
}

#inner-box {
	margin: 4px;
	padding: 8px;
	padding-top: 0px;
	color: --wofi-color0;
	background-color: --wofi-color0;
}

#outer-box {
	border-radius: 15px;
	background-color: --wofi-color0;
}

#scroll {
	margin-top: 5px;
	border-radius: 15px;
	margin-bottom: 5px;
}

#entry {
	padding: 8px;
	outline: none;
	border-radius: 15px;
	background-color: --wofi-color0;
}

#entry:selected {
	background: linear-gradient(45deg, --wofi-color0 30%, --wofi-color0 100%);
}
